## hide .pdf extension
# To externally redirect /dir/file.pdf to /dir/file
RewriteCond %{THE_REQUEST} \s/+(.+?)\.pdf[\s?] [NC]
RewriteRule ^ /%1 [R=302,L,NE]

# To internally forward /dir/file to /dir/file.pdf
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1\.pdf -f [NC]
RewriteRule ^(.+?)/?$ /$1.pdf [L]
